*,
canvas,
main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: #f0f0f0;
  height: 100vh;
  overflow: hidden;
}

#controls {
  width: 100%;
  padding: 10px;
  overflow-y: auto;
}
